body {
	margin: 0;
	height: 100%;
	background-color: lightgray;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
}

.flex-container #menu {
	padding: 0 2em;
	flex: 0 0 20%;
}

.flex-container.inputs p {
	flex: 0 0 100%;
}

.flex-container.inputs input {
	flex: 2;
}

.flex-container.inputs input.half-size {
	flex: 1;
	width: 33%;
}

.flex-container.inputs button {
	flex: 1;
}

.flex-container.inputs p span{
	color: darkgray;
	float: right;
}

#error-message {
	position: absolute;
	color: red;
}

#help-modal {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #44444488;
}

#help-modal div {
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);	
}

